<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>Institute of Environmental Physics, University of Bremen</li>
    <li>Remote Sensing for Polar Regions</li>
    <li>Otto-Hahn-Allee 1, 28359 Bremen, Germany</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>NW1, N3200</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+49-421-218-62172</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:alexander.mchedlishvili.jobs@gmail.com">alexander.mchedlishvili.jobs@gmail.com</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://seaice.uni-bremen.de/group-members/alexander-mchedlishvili/">uni-bremen.de</a></li>
  </ul>
</div>
